<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- cookie free domain -->
  <system.webServer>
    <staticContent>
      <!-- file attribute add here. -->
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <clientCache cacheControlCustom="public" httpExpires="Sun, 29 Mar 2080 00:00:00 GMT" cacheControlMode="UseMaxAge" />
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>