@import "override-mvc.variables.less";
@import "editor-templates.variables.less";

.invalid-input {
    .border-rounded(3px);
    .min-width(@inputs-max-width);
    //width: auto;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold; 
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
     
    &.field-validation-error {
        background-color: @input-error-bg-color;

        &.break-line {
            display: block;
            margin-top: 4px;
            .width(@inputs-max-width);
        }
    }
}

/*.validator-container {
    position: relative;
}*/


.validator-container {
    display: block;

    [id*='wrapper-invalid-mark-'],[id*='wrapper-validation-error-'] {
        @color: @tooltip-invalid-bg-color;

        .tooltip-inner {
            background-color: @color;
        }

        .tooltip-arrow {
            border-top-color: @color;
        }

        .fa {
            color: @color;
        }
    }

    [id*='wrapper-valid-mark-'] {
        @color: @tooltip-valid-bg-color;

        .tooltip-inner {
            background-color: @color;
        }

        .tooltip-arrow {
            border-top-color: @color;
        }

        .fa {
            color: @color;
        }
    }

    [id*='wrapper-validation-spinner-'] {
        @color: @tooltip-spinner-bg-color;

        .tooltip-inner {
            background-color: @color;
        }

        .tooltip-arrow {
            border-top-color: @color;
        }

        .fa {
            color: @color;
        }
    }
}

/*.validator {
    position: absolute;
    top: -26px;
    right: 8px;
}*/
.validator {
    display: inherit;
}

.validation-icon-wrapper {
    position: static;
    display: inherit;
    margin-top: -26px;
    margin-left: 273px;
}

.input-validator-container {
    display: inline-block;
    width: 100%;
    .max-width(@inputs-max-width);
}


.relative {
    position: relative;
}

.form-group {
    &[data-icon-added] {
        /*margin-bottom: 14px;
        margin-top: 15px;*/
        margin-top: 8.5px;
        margin-bottom: 14px;
    }
}
 